body {
  width: 70%;
  height: 100%;
  margin: 5% 0% 10% 15%;
}
h1 {
  width: 450px;
  height: 100px;
  margin: 0% 0% 0% 0%;
  transform: rotate(-30deg);
}
h4 {
  text-align: right;
}
div {
  background-color: #4444;
}

.frm {
	display: inline-block;
}
